/* Apply box-sizing to the entire document */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: 'Barlow', sans-serif;
  margin: 20px;
  background-color: #333;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  background-image: url(images/bg.jpg);
  background-size: cover;
}

.container {
  max-width: 700px;
  margin: 0 auto 20px auto;
  background-color: #444444ed;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-wrapper {
  width: 49%;
}

.results-wrapper {
  width: 49%;
  border: 1px solid #666;
  background-color: #555;
  padding: 20px;
}

img {
  width: 100%;
  max-width: 472px;
  margin: 0 0 20px 0;
}

h2 {
  text-align: center;
  margin: 0 0 20px 0;
  font-weight: 900;
  letter-spacing: 3px;
  color: #f9f470;
  font-size: 24px;
}

#form-container p {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Styles for forms */
form {
  border: 1px solid #666;
  background-color: #555;
  padding: 20px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: left;
  line-height: 20px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-wrapper i {
  margin-right: 10px;
  font-size: 20px;
}

input[type='number'],
form input[type='hidden'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 4px solid #666;
  border-radius: 2px;
  background-color: #444;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 18px;
}

input[type='number']:focus {
  background-color: #333;
  border: 4px solid #f9f470;
  color: #f9f470;
  outline: none;
}

.speed-or-time {
  padding: 10px 20px 0 20px;
  border: 2px solid #fff;
  margin: 0 0 20px 0;
}

/* Center the container vertically and horizontally */
.divider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px 0;
}

/* Style the horizontal lines */
.divider-line {
  flex: 1;
  height: 4px;
  background-color: #fff;
}

/* Style the text "OR" */
.divider-text {
  padding: 0 10px;
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 10px; /* Adjust the gap value as needed */
  justify-content: space-between;
}

.buttons button {
  text-transform: uppercase;
  cursor: pointer;
}

.submit-button,
.clear-button {
  flex: 1;
  font-size: 24px;
  border: 3px solid #444;
  border-radius: 2px;
  padding: 20px;
  font-weight: 500;
  text-align: center;
  position: relative;
  background: #444;
  font-weight: 900;
  color: #f9f470;
  text-decoration: none;
}

.submit-button:focus-visible,
.clear-button:focus-visible {
  outline: 1px solid #fff;
  border-radius: 2px;
}

.clear-button {
  color: #fff;
}

.submit-button::before,
.clear-button::before {
  content: ' ';
  position: absolute;
  border: 3px solid #f9f470;
  border-radius: 2px;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}

.clear-button::before {
  border-color: #fff;
}

.submit-button:hover,
.clear-button:hover {
  color: #444;
  background-color: #f9f470;
  border-color: #f9f470;
}

.clear-button:hover {
  background-color: #fff;
  border-color: #fff;
}

.submit-button:hover::before,
.clear-button:hover::before {
  border-color: #444;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

#resultsContainer {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}

#resultsContainer p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
}

#resultsContainer p.warning {
  color: #f9f470;
  font-weight: 900;
  text-align: left;
  font-size: 24px;
  line-height: 36px;
}

#resultsContainer span {
  font-size: 18px;
  border: 3px solid #444;
  border-radius: 2px;
  padding: 20px;
  font-weight: 500;
  text-align: center;
  position: relative;
  background: #444;
  font-weight: 900;
  color: #f9f470;
}

#resultsContainer span:before {
  content: ' ';
  position: absolute;
  border: 3px solid #f9f470;
  border-radius: 2px;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}

.desc {
  text-align: left;
}

.desc p {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
}

.desc ol {
  padding: 0 20px;
  /* margin: 20px 25px 30px 35px; */
}

.desc li {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
}

#howToUse {
  margin-bottom: 20px;
}

#mathContainer h3 {
  margin-bottom: 12px;
  text-transform: none;
}

#mathContainer pre {
  font-size: 12px;
  background-color: #333;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
  overflow-x: auto; /* In case the code is wider than the container */
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 5px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.footer-links a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
}

.tabs {
  display: flex;
  gap: 10px;
}

.tablink {
  flex: 1;
  font-size: 24px;
  border: 3px solid #444;
  border-radius: 2px;
  padding: 20px;
  font-weight: 500;
  text-align: center;
  position: relative;
  background: #444;
  font-weight: 900;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 20px;
}

.tablink::before {
  content: ' ';
  position: absolute;
  border: 3px solid #ffffff;
  border-radius: 2px;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}

.tablink:hover {
  color: #444;
  background-color: #fff;
  border-color: #fff;
}

.tablink:hover::before {
  border-color: #444;
}

.tab-content {
  display: none;
  /* padding: 6px 12px; */
  /* border: 1px solid #ccc; */
  /* border-top: none; */
}

.content {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
  .form-container {
    flex-direction: column;
  }

  .form-wrapper,
  .results-wrapper {
    width: 100%;
  }

  body {
    margin: 10px;
  }

  .container {
    margin: 0 auto 10px auto;
    padding: 10px;
  }

  h2 {
    font-size: 18px;
  }

  label {
    font-size: 16px;
  }

  input[type='number'],
  form input[type='hidden'] {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .speed-or-time {
    margin: 0 0 10px 0;
  }

  .divider-container {
    margin: 0 0 10px 0;
  }

  .submit-button,
  .clear-button {
    font-size: 20px;
    padding: 10px;
  }

  #resultsContainer {
    font-size: 16px;
  }

  #resultsContainer p {
    font-size: 14px;
  }

  #resultsContainer span {
    font-size: 16px;
    padding: 15px;
  }

  .desc {
    font-size: 18px;
  }

  .desc p {
    line-height: 24px;
  }

  footer {
    padding: 10px;
  }
}
